extends base

block content
    .welcome-message-container
        h1 Bem Vindo! 
        p Clique o Botão abaixo para confirmar seu email e começar a fazer seus pedidos!
        button.email-confirm-btn Confirmar Email