extends base

block content

  .user-page-wrapper
    .user-page
      .navigation
        include _accountNav
      .user-info
        .order-wrapper
          .order-overview
            .order-overview-nav
              span Pedidos Ativos
              span Pedidos Concluídos
            //- .order-preview
            //-   span.order-type Entrega
            //-   svg.order-icon
            //-     use(xlink:href=`/img/icons.svg#icon-takeout`)
            //-   span.order-id 6656095b6913544d019e1cd8
            //-   span.order-name Lucas Kako
            //-   span.order-time 20:27
            //-   span.order-status Aprovado
            //-   span.order-price R$ 100,00
            //- .order-preview
            //-   span.order-type Entrega
            //-   svg.order-icon
            //-     use(xlink:href=`/img/icons.svg#icon-motorcycle`)
            //-   span.order-id 6656095b6913544d019e1cd8
            //-   span.order-name Pedro Felcon
            //-   span.order-time 20:27
            //-   span.order-status Aprovado
            //-   span.order-price R$ 100,00
          .order-info
            //- .order-blur-overlay
            //- .order-detailed-client.hidden
            //-   .order-close-btn
            //-     span x
            //-   .order-client-information
            //-     span.title-txt-big Sobre o Cliente
            //-     span CLIENTE: Pedro Forte
            //-     span E-MAIL: pedroforte1911@gmail.com
            //-     span TELEFONE: (67) 99971-0088
            //-   .separator
            //-   .order-client-about-address
            //-     span.title-txt-big Sobre a Entrega
            //-     span ENDERE&Ccedil;O: Rua Jos&eacute; Alencar, 207
            //-     span REGI&Atilde;O: Jardim Paulista, Dourados - MS
            //-     span CEP: 79830-170
            //-     span &Aacute;REA DE ENTREGA: 5 km
            //-     span TAXA DE ENTREGA: R$ 13,00
            //-     span PREVIS&Atilde;O DE ENTREGA: 06/06/2024 20:47
            .order-description
            //-   .order-pedido
            //-     span.title-order
            //-       | Pedido #6656095b6913544d019e1cd8
            //-       span.order-situation Em Tr&acirc;nsito
            //-     a(href='#').icon-whatsapp
            //-       svg
            //-         use(xlink:href=`/img/icons.svg#icon-whatsapp`)
            //-   .order-buttons-action
            //-     button.order-check-order MARCAR COMO ENTREGUE
            //-     button.order-deny-order CANCELAR PEDIDO
            //-     .order-confirm-cancel Confirmar Cancelamento?
            //-       svg.order-close-btn
            //-         use(xlink:href=`/img/icons.svg#icon-close`)
            //-       | Isso irá reembolsar o cliente.
            //-       button Confirmar 
            //-   .order-client-info
            //-     span 
            //-       b CLIENTE: 
            //-       |PEDRO FORTE
            //-     span 06/06/2024 20:02
            //-   .order-client-adress
            //-     span 
            //-         b ENDERE&Ccedil;O: 
            //-         | RUA JOS&Eacute; DE ALENCAR, 207
            //-     span  
            //-     button.order-detail-person DETALHES
            //- .order-recipes
            //-   .order-information-request
            //-     svg.arrow-request-hide
            //-         use(xlink:href=`/img/icons.svg#icon-arrow-down`)
            //-     span Qtd.
            //-     span Items
            //-     span Pre&ccedil;o
            //-   .order-recipes-info.active
            //-     span.order-recipe-info-quantity 1
            //-     .order-recipe-description
            //-       span.order-recipe-name Mignon a Parmegiana Tradicional
            //-         svg
            //-           use(xlink:href=`/img/icons.svg#icon-arrow-down`)
            //-       .order-recipe-options
            //-         span Grelhado ou Empanado
            //-         span - Empanado
            //-         span Adicionais
            //-         span - Arroz
            //-         span - Batata Fritas
            //-         span Tamanho
            //-         span - Pequeno
            //-     span.order-recipe-price R$ 71,00
            //-     .order-total-price
            //-       span TOTAL
            //-       span R$ 84,00
              