extends base

block content
    .form-container.reset-password-form-conatiner
        h1 Escolha uma nova senha
        form.reset-password-form
            input(type="password" placeholder="Senha" required) 
            input(type="password" placeholder="Confirme a senha" required) 
            button(type="submit") Confirmar