extends baseEmail

block content
        p Oi #{firstName},
        p Recebemos uma solicitação para redefinir sua senha no Restaurante da Bella. Para redefinir sua senha no Restaurante da Bella, por favor, clique no link abaixo e siga as instruções:
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Escolher nova senha
        p Caso você não tenha solicitado essa alteração, ignore este e-mail. A segurança da sua conta é nossa prioridade!